<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="header" th:remove="tag">
        <title>Museca Info</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="295437875340-3h7ue0kur86lsekmi3tj3fit8qe87gbn.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            if (document.location.protocol == 'http:') {
                document.location.href = document.location.href.replace('http:', 'https:');
            }
        </script>
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
    </head>
</html>