<!DOCTYPE HTML>
<html>
<head>
    <title>Museca Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>죽은 게임 시체 만지기!</h1>
        <p>front단 만지기 존나 귀찮다~~~~~~~~~</p>
    </div>
    <p>좆망~</p>
    <p>~~~~~~~~</p>
</div>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
</body>
</html>