<!DOCTYPE HTML>
<html>
<head>
    <title>Museca Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Museca Info</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">User Data</a></li>
            <li><a href="#">Score Detail</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>죽은 게임 시체 만지기!</h1>
        <p>front단 만지기 존나 귀찮다~~~~~~~~~</p>
    </div>
    <p>좆망~</p>
    <p>~~~~~~~~</p>
</div>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
</body>
</html>